#page {
    display: grid;
    height: 98vh;
    gap: 5px;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 300px 1fr;
}
#page > header {
    grid-area: header;
    background-color: #ebeff3;
}
#page > nav {
    grid-area: nav;
    background-color: #d8dce1;
}
#page > main {
    grid-area: main;
    background-color: #e7ebee;
}
#page > footer {
    grid-area: footer;
    background-color: #d0d3d6;
}
.horizontal-menu {
    margin: 10px;
    font-size: 18px;
    color: whitesmoke;
}
.horizontal-menu a {
   padding: 20px;
   display: inline-block;

}
.vertical-menu {
    width: 250px;
    padding: 20px;
    font-size: 18px;
}
.vertical-menu a {
    color: black; 
    display: block; 
    padding: 12px; 
}

.main-data {
    padding: 20px;
}
.footer {
    text-align: center;
    padding: 10px;
}

.surway-show {
    width: 700px;
    background-color: rgb(142, 179, 214);
    /* list-style-type: none; */
}
.surway-show > li{
    list-style-type: none;
   
}
li {
    list-style-type: none;
}
